@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    font-family: "Kumbh Sans", sans-serif;
}

.active-btn-sidebar {
    background-color: #C8EE44;
    color: #1B212D;
}

.active-btn-sidebar:hover{
    background-color: #A0B84B;
    color: #1B212D;
}

.card-dashboard:hover{
    background-color: #282541;
}

.card-dashboard:hover span,
.card-dashboard:hover i{
    background-color: #353255;
    color: #C8EE44;
}
